{% extends 'admin.spikers.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;SPIKE TEAM MEMBERS&nbsp;&nbsp;&bull;
        </div>
    </div>

    <div class="page table-responsive">
        <table class="table">
            <tr>
                <th>Enabled</th>
                <th>Supervisor?</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th></th>
            </tr>
            <form class="form" action="spikers/enabler" method="post" id="enabler">
                {% for spiker in spikers %}
                    <tr>
                        <td class="center">
                            <input type="checkbox" value="1" id="{{ spiker.id }}" name="{{ spiker.id }}" class="inlineCheckbox" {% if spiker.isenabled %}checked="checked"{% endif %} />
                            <!-- {% if spiker.isEnabled %}
                                <i class="fa fa-check-square"></i>
                            {% else %}
                                <i class="fa fa-square-o"></i>
                            {% endif %} -->
                        </td>
                        <td class="center">
                            {% if spiker.isSupervisor %}
                                <i class="fa fa-check-square"></i>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>{{ spiker.firstName }}</td>
                        <td>{{ spiker.lastName }}</td>
                        <td>{{ spiker.phoneNumber }}</td>
                        <td>{{ spiker.email }}</td>
                        <td class="center">
                            <a href="/spikers/{{ spiker.phoneNumber }}/edit">Edit</a>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="7">
                        <input type="submit" name="enabler" value="Save Status" class="btn btn-default" />
                    </td>
                </tr>
            </form>

            <tr>
                {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
                    <!-- <td class="center"><i class="fa fa-check-square"></i></td> -->
                    <td></td>
                    <td class="center">{{ form_widget(form.isSupervisor) }}</td>
                    <td>{{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}</td>
                    <td>{{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'} }) }}</td>
                    <td>{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number'} }) }}</td>
                    <td>{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}</td>
                    <td class="center">{{ form_widget(form.Add, {'attr': {'class': 'btn btn-default'} }) }}</td>
                {{ form_end(form) }}
            </tr>

        </table>

    </div>

{% endblock %}


