{% extends 'admin.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Enabled</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    {% for spiker in spikers %}
        <tr>
            <td>
                {% if spiker.isEnabled %}
                    <i class="fa fa-check-square"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
            </td>
            <td>{{ spiker.firstName }}</td>
            <td>{{ spiker.lastName }}</td>
            <td>{{ spiker.phoneNumber }}</td>
            <td>
                <a href="/spikers/{{ spiker.phoneNumber }}/edit">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    {{ form(form, {'method': 'POST'}) }}
{% endblock %}


