{% extends 'admin.spikers.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;SPIKE TEAM MEMBERS&nbsp;&nbsp;&bull;
        </div>
    </div>

    <div class="page table-responsive">
        {% if existing %}
            <div class="alert">Sorry! A spiker by this phone number or email address already exists. Please fix the record and try again.</div>
        {% endif %}
        <div class="groups">
            <div class="buttons">
                <button class="all btn {% if group is null %}btn-primary{% else %}btn-default{% endif %}">
                    All Spikers
                </button>
                {% for group_id, enabled in group_ids %}
                    <button id="group-{{ group_id }}" class="group btn {% if group_id == group %}btn-primary{% else %}btn-default{% endif %}">Group {{ group_id }}</button>
                {% endfor %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <button class="add btn btn-default">Add Group</button>
                {% endif %}
            </div>

            <div class="group-right">
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <div class="shufflebutton">
                        <button id="shuffle" class="shuffle btn" {% if group is not null %}style="display:none;"{% endif %}>Shuffle</button>
                    </div>
                {% endif %}

                <div class="onoffswitch" {% if group is null %}style="display:none;"{% endif %}>
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff-{{ group }}" {% if group_enabled %}checked="checked"{% endif %}>
                    <label class="onoffswitch-label" for="onoff-{{ group }}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class="meta">
            <div class="spiker-numbers">
                <span class="group">{{ count }}</span> of <span class="total">{{ spikers|length }}</span> total Spikers
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="import-export">
                    <a class="import-link">Import</a> | <a href="{{ path('spikers_export', {gid: group}) }}">Export</a>
                </div>
            {% endif %}
        </div>

        <table class="table spikers">
            <thead><tr>
                <th>Enabled</th>
                <th>Super</th>
                <th>Group</th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Cohort</th>
                <th></th>
            </tr></thead>
            <form class="form" action="{{ path('spikers_enable') }}" method="post" id="enabler">
                <tbody>
                {% for spiker in spikers %}
                    <tr class="spiker group-{{ spiker.group.id }}{% if not spiker.group.enabled %} disabled{% endif %}{% if spiker.isCaptain %} captain{% endif %}" {% if group is not null and spiker.group.id != group %}style="display:none;"{% endif %}>
                        <td class="center">
                            <input type="checkbox" value="1" id="{{ spiker.id }}-enabled" name="{{ spiker.id }}-enabled" class="inlineCheckbox" {% if spiker.isenabled %}checked="checked"{% endif %}{% if spiker.isCaptain %} disabled{% endif %}/>
                        </td>
                        <td class="center">
                            {% if spiker.isSupervisor %}
                                <i class="fa fa-check-square"></i>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            <select name="{{ spiker.id }}-group" form="enabler"{% if spiker.isCaptain %} disabled{% endif %}>
                                {% for group_id, enabled in group_ids %}
                                    <option value="{{ group_id }}"
                                        {% if spiker.group is not null and group_id == spiker.group.id %}
                                            selected="selected"
                                        {% endif %}
                                        {% if not enabled %}
                                            class="disabled"
                                        {% endif %}>
                                        {{ group_id }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ spiker.firstName }}</td>
                        <td>{{ spiker.lastName }}</td>
                        <td>{{ spiker.phoneNumber }}</td>
                        <td>{{ spiker.email }}</td>
                        <td>{{ spiker.cohort }}</td>
                        <td class="center edit">
                            <a href="{{ path('spikers_edit', {'input': spiker.phoneNumber}) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2" class="center">
                            <input type="submit" name="enabler" value="Save Status" class="btn btn-default" />
                        </td>
                        <td colspan="7">
                        </td>
                    </tr>
                    {% if group is not null %}
                        <input type="hidden" name="group" value="{{ group }}">
                    {% endif %}
                </form>

                    <tr>
                        {{ form_start(form, {'attr': {'class': 'form-inline inline-spiker-add'} }) }}
                            <td class="center"><input type="checkbox" name="dummy-checkbox" checked="checked" disabled="disabled"></td>
                            <td class="center">{{ form_widget(form.isSupervisor) }}</td>
                            <td class="center">{{ form_widget(form.group) }}</td>
                            <td>{{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}</td>
                            <td>{{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'} }) }}</td>
                            <td>{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number'} }) }}</td>
                            <td>{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}</td>
                            <td class="center">{{ form_widget(form.cohort) }}</td>
                            <td class="center">{{ form_widget(form.Add, {'attr': {'class': 'btn btn-default'} }) }}</td>
                        {{ form_end(form) }}
                    </tr>
                </tfoot>

        </table>

    </div>

{% endblock %}
