{% extends 'admin.button.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;ALERT SPIKE TEAM&nbsp;&nbsp;&bull;
        </div>
    </div>
    <div id="button-box">
        <div id="button-box-inner">
            <div id="button" class="{% if canPush %}enabled{% else %}disabled{% endif %}" data-message="{{ message }}">
                {% if canPush %}
                    <a href="{{ goUrl }}">
                        <button class="button-image" /></button>
                    </a>
                {% else %}
                    <button class="button-image" /></button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="page">
        <div class="group-select">
            Send Alert to Group:
            <select {% if currentGroup.getCaptain() %}class="{{ currentGroup.getCaptain().preferredTime }}"{% endif %}>
                <option value="all">All</option>
                <option value="{{ currentGroup.id }}" selected="selected">{{ currentGroup.name }}</option>
                <option disabled="disabled" role="separator">——————</option>
                {% for key, name in weekdayNames %}
                    {% if key != currentGroup.id %}
                    <option value="{{ key }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="latest">
            {% if mostRecent != false %}
            Latest:
                <span class="latest-group">
                    {% if mostRecent.group.id is defined %}
                        {{ mostRecent.group.name }} Group
                    {% else %}
                        All Spikers
                    {% endif %}
                </span> at
                <span class="latest-time">
                    {{ mostRecent.pushTime|date('G:i, m/d/y') }}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}
