{% extends 'admin.admin.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;ADMIN USERS&nbsp;&nbsp;&bull;
        </div>
    </div>

    <div class="page table-responsive">
        <table class="table">
            <tr>
                <th>Texts</th>
                <th>Role</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>

            {% for admin in admins %}

                {% set super_admin_bool = false %}
                {% for role in admin.getRoles() %}
                    {% if role == 'ROLE_SUPER_ADMIN' %}{% set super_admin_bool = true %}{% endif %}
                {% endfor %}

                <tr>
                    <td class="center">
                        {% if admin.getIsEnabled() %}
                            <i class="fa fa-check-square"></i>
                        {% else %}
                            <i class="fa fa-square-o"></i>
                        {% endif %}
                    </td>
                    <td>
                        {{ admin.getFriendlyRoleName() }}
                    </td>
                    <td>
                        {{ admin.firstName }}
                    </td>
                    <td>
                        {{ admin.lastName }}
                    </td>
                    <td>
                        {{ admin.email }}
                    </td>
                    <td>
                        {{ admin.phoneNumber }}
                    <td></td>
                    <td class="center">
                        {% if is_granted('ROLE_SUPER_ADMIN') or app.user.email == admin.email %}
                            <a href="{{ path('admin_edit', {'email': admin.email}) }}">Edit</a>
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
                        <td class="center">{{ form_widget(form.isEnabled) }}</td>
                        <td>{{ form_widget(form.roles) }}</td>
                        <td>{{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}</td>
                        <td>{{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'} }) }}</td>
                        <td>{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}</td>
                        <td>{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'Phone #'} }) }}</td>
                        <td>{{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}</td>
                        <td class="center">{{ form_widget(form.save, {'attr': {'class': 'btn btn-default'} }) }}</td>
                    {{ form_end(form) }}
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}


