{% extends 'admin.admin.html.twig' %}

{% block body %}
    {% include '_errors.html.twig' %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;ADMIN: {% if admin.firstName is not defined and admin.lastName is not defined %}{{ admin.email }}{% else %}{{ admin.firstName }} {{ admin.lastName }}{% endif %}&nbsp;&nbsp;&bull;
        </div>
    </div>
    <div class="page">
        {{ form_start(form) }}
        <div class="form-left">
            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
            </div>
        </div>

        <div class="form-right">
            <div class="form-group">
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.isEnabled, {'attr': {'class': 'inlineCheckbox'} }) }}
                {{ form_label(form.isEnabled, 'Opt-in to alert texts?', { 'label_attr': {'class': 'checkbox-inline'} }) }}
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="form-group">
                    {{ form_label(form.roles, 'Role', { 'label_attr': {'class': 'dropdown'} }) }}
                    {{ form_widget(form.roles, {'attr': {'class': 'dropdown'} }) }}
                </div>
            {% endif %}
        </div>

        <div class="form-bottom">
            {{ form_widget(form.save, { 'label': 'Save!', 'attr': {'class': 'btn btn-default btn-danger'} }) }}
            <a href="{{ path('admin') }}"><button class="btn">Cancel</button></a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_delete', {'email': admin.email}) }}">
                <button class="btn pull-right">Remove</button></a>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}