{% extends 'admin.admin.html.twig' %}

{% block body %}
    <div class="nameplate">
        <div class="nameplate-inner">
            &bull;&nbsp;&nbsp;ADMIN: {% if admin.firstName is not defined and admin.lastName is not defined %}{{ admin.email }}{% else %}{{ admin.firstName }} {{ admin.lastName }}{% endif %}&nbsp;&nbsp;&bull;
        </div>
    </div>
    <div class="page">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="form-group">
                    {{ form_widget(form.superadmin, {'attr': {'class': 'inlineCheckbox'} }) }}
                    {{ form_label(form.superadmin, 'Superadmin?', { 'label_attr': {'class': 'checkbox-inline'} }) }}
                </div>
            {% endif %}

            {{ form_widget(form.save, { 'label': 'Save!', 'attr': {'class': 'btn btn-default btn-danger'} }) }}
            <a href="{{ cancel }}"><button class="btn">Cancel</button></a>
            {% set super_admin_bool = false %}
            {% for role in admin.getRoles() %}
                {% if role == 'ROLE_SUPER_ADMIN' %}{% set super_admin_bool = true %}{% endif %}
            {% endfor %}
            {% if super_admin_bool %}<a href="{{ remove }}"><button class="btn pull-right">Remove</button></a>{% endif %}
        {{ form_end(form) }}

        <hr/>

        <button class="token-button btn">Click here to <span class="replace">view</span> token</button>
        <div class="token-para" style="display: none;"><strong>Username:</strong> {{ admin.email }}<br /><strong>Token:</strong> {{ admin.password }}<br />{{ message }}</div>
    </div>
{% endblock %}